body {
  text-align: center;
}

.container {
  width: 1128px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

form {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

form input {
  border-radius: 4px;
  width: 272px;
  height: 20px;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #808080;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

form input:focus,
form input:hover {
  border-color: #000;
}

form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
}

.btn-fetch {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
  margin-top: 32px;
}

form button:hover,
form button:focus {
  background: #6c8cff;
}

.gallery {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  width: 360px;
  border: 1px solid #000;
  position: relative;
}

.gallery-item img {
  width: 100%;
  overflow: hidden;
}

.gallery-item .info {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  background: #fff;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  gap: 28px;
  padding: 4px 20px;
}

.gallery-item .info span {
  font-weight: 400;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
